%h1 Twitter Followers Visualization
%hr
.row-fluid
  .span9
    #tree
      %h2 Graph Area
    / #graph
    /   %h2 Graph Area
  .span3
    #appcontainer
    %hr
    #userInfoCenter{hidden:"hidden"}
      .row-fluid
        .span2
          #image.large
        .span1
          %h2
            #name

      %hr
      .row-fluid
        %blockquote
          .span1
            Followers:
            #followers
          .span1
          .span1
            Friends:
            #friends
      %hr
      .row-fluid
        / .span3.well
        %blockquote
          %strong
            #text 
             
              
%hr
/ .row-fluid
/   .span9
/     #chart
/       %h2 Chart Area
/   .span3
      


