%footer.footer
  %small
    %a{:href => "https://twitter.com/imph0enix"} Twitter Stuff
    by Surender Yerva (@imph0enix)
  %nav
    %ul
      %li= link_to "About",   "http://lsirpeople.epfl.ch/yerva"
      %li= link_to "Contact", "http://lsirpeople.epfl.ch/yerva"
      %li
        %a{:href => "https://github.com/yerva"} News