%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container-fluid
      = link_to "Yerva Apps", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", root_path
          %li= link_to "Help", root_path
